<div>
  <ul class="students">
    <li class="stu1" *ngFor="let student of students" (click)="onSelectedStudent(student)"[class.selected]="student === selectedStudent">
      <span>{{ student.id }}</span> {{ student.name }}
    </li>
  </ul>
</div>



<div *ngIf='selectedStudent'>
  <h2>
    {{ selectedStudent.name }} detalis:
  </h2>
      <div>
        <div>ID studenta:{{selectedStudent.id}}</div>
        <div>Pol: {{selectedStudent.gender}}</div>
        <div>Opis: {{selectedStudent.description}}</div>
        <div><p>Student name:</p>
          <input type="text" [(ngModel)]="selectedStudent.name" >
        
        </div>
      </div>


</div>
